body{
    background-color: lightblue;
}

#banner {
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  color: white;
  text-align: center;
  background-color: blue;
  width: 70vw;
}

.CFG {
  margin: auto;
  margin-top: 10px;
  background-color: white;
  padding: 20px;
  width: 70vw;
  border: 1px solid black;
  padding-bottom: 35px;
}

.paragraphs {
  margin: auto;
  margin-top: 10px;
  background-color: blue;
  padding: 20px;
  width: 70vw;
  color: white;
  
}
